*{
    box-sizing: border-box;
    margin: 0;
}

#menu{
    position: fixed;
    width: 22%;
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

main{
    height: 100vh;
    width: 100%;
}

#menino_bola{
        background-image: url(author.jpg);
        border-radius: 100%;
        width: 160px;
        height: 160px;
        background-position-x: center;
        background-position-y: 30%;
        background-size: 100%;
}

#Louie{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    padding-top: 7px;
    padding-bottom: 25px;
}

#abas{
    list-style: none;
    text-align: center;
}

#derivado{
    font-family: "Montserrat", sans-serif;
    padding-right: 40px;
    padding-bottom: 10px;
    font-weight: 700;
    a{
        text-decoration: none;
        color: grey
    }
}

a:hover{
    transition: 0.2s;
    color:black;
    text-decoration: underline;
}

#texto1{
    position: relative;
    bottom: 0;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: rgb(51, 50, 50);
    bottom: -300px;
}

div input{
    border-radius: 10px;
    border-color: white;
    font-size: 17px;
    opacity: 45%;
    position: relative;
    bottom: -320px;
    height: 200%;
    color: grey;
}

#seta img{
    width: 9%;
    opacity: 40%;
    position: relative;
    bottom: -300px;
    left: 190px;
}

#principal{
    margin-left: 22%;
    right: 0;
    height: 100vh;
    width: 78%;
    background-color: rgb(255, 255, 255) ;
    display: flex;
}

#foto{
    background-image: url(author.jpg);
    width: 740px;
    height: 100vh;
    background-position-x: center;
    background-position-y: 35%;
    background-size: 100%;
    background-repeat: no-repeat;
}

#tela2{
    width: 51%;
    height: 100vh;
}

#desaparecido{
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
    font-size: 70px;
    font-weight: 700;
    position: absolute;
    top: 20%;
}

#hello{
    position: absolute;
    top: 220px;
    color: #bfbfbf;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    margin-left: 2.5%;
}

#arthurpimenta{
    margin-top: 34%;
    margin-left: 6.5%;
    display: flex;
    flex-direction: column;
}

#cor{
    color: #ccb78f;
}

#palavras{
    color: #999999;
    font-family: "Poppins", sans-serif;
    height: 30%;
    width: 85%;
    margin-left: 1%;
    font-size: 18px;
    line-height: 2;
    margin-top: 4%;
}

#inicio{
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 700; 
}

#Assinatura{
    font-family: "Herr Von Muellerhoff", cursive;
    font-size: 40px;
    margin-top: 2.5%;
}

#cabecalho{
    background-color: #ccb78f;
    margin-left: 22%;
    width: 78%;
    height: 22vh;
}

#cabecalho_texto_divzinha{
    height: 22vh;
    width: 58%;
    background-color: #ccb78f;
    margin-left: 24%;
}

#cabecalho_texto_divdivzinha{
    display: flex;
    flex-direction: row;
    p:first-child{
        font-size: 13px;
        font-family: "Montserrat", sans-serif;
        margin-top: 8%;
        margin-right: 5%;
        a{
            color: black;
        }
    }
    p:last-child{
        margin-top: 8%;
        font-size: 13px;
        font-family: "Montserrat", sans-serif;
        a{
            color: black;
        }
    }
}
